<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.cafeTable.mapper.CafeTableMapper">

    <select id="checkTableId" parameterType="int" resultType="cafeTable">
        select *
        from cafetable
        where tableId = #{tableId}
    </select>

    <select id="getTableInfo" resultType="com.example.demo.cafeTable.dto.CafeTableDto$CafeTableInfo">
        select tableId, tableNumber
        from cafetable
        where cafeId = #{cafeId} AND tableType = #{tableType}
    </select>

</mapper>