<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.cafe.mapper.CafeMapper">

    <select id="findCafeNameByCafeId" parameterType="int" resultType="String">
        SELECT cafeName
        FROM cafe
        WHERE cafeId = #{cafeId}
    </select>

    <select id="getOneCafe" parameterType="int" resultType="cafe">
        SELECT *
        FROM cafe
        WHERE cafeId = #{cafeId}
    </select>

    <select id="findUserIdByCafeId" parameterType="int" resultType="int">
        SELECT cafeId
        FROM cafe
        WHERE userId = #{userId}
    </select>

    <insert id="insertCafe" parameterType="cafe">
        INSERT INTO cafe (
            cafename, cafetype, starttime, endtime, address, longtitude, latitude,
            cafetel, study, userid, caferepimg, cafeRepImgMine, studyImg, StudyImgMine ,createdate, modifydate)
        VALUES (
                   #{cafeName}, #{cafeType}, #{startTime, jdbcType=VARCHAR}, #{endTime, jdbcType=VARCHAR},
                   #{address}, #{longtitude}, #{latitude}, #{cafeTel}, #{study}, #{userId},
                   #{cafeRepImg, jdbcType=BLOB}, #{cafeRepImgMine, jdbcType=VARCHAR}, #{studyImg, jdbcType=BLOB}, #{studyImgMine, jdbcType=VARCHAR}, sysdate, sysdate)
    </insert>

    <select id="findCafeBasicByUserId" parameterType="int" resultType="cafe">
        SELECT cafeid, cafeName, cafeType, cafeTel, ADDRESS, userid
        FROM cafe
        WHERE userId = #{userId}
    </select>

    <select id="findCafeSettingByUserId" parameterType="int" resultType="Cafe">
        SELECT cafeId, study, userId, studyImg, studyImgMine
        FROM cafe
        WHERE userId = #{userId}
    </select>

    <select id="getOneCafeByUserName" resultType="cafe">
        select *
        from cafe
        where userId = #{userId}
    </select>

    <delete id="cafeDelete">
        delete from cafe where cafeId = #{cafeId}
    </delete>

</mapper>