<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.reservation.cancleReason.mapper.CancleReasonMapper">
    <select id="getOneCancleReason" resultType="cancleReason">
        SELECT *
        FROM cancleReason
        WHERE cancleReasonId = #{cancleReasonId}
    </select>
    <select id="getReservationCancleReason" resultType="cancleReason">
    SELECT c.canclecontent, c.cancleReasonId
    FROM canclereason c, reservation r
    WHERE c.canclereasonId = r.canclereasonId AND reservationId = #{reservationId}
    </select>
</mapper>