<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.reservation.reservation.mapper.ReservationMapper">

    <insert id="createReservation" parameterType="reservation">
        INSERT INTO reservation (tableId, cafeId, userId, reserveStart, reserveEnd, personCnt, status, reserveDate, createDate)
        VALUES (#{tableId}, #{cafeId}, #{userId}, #{reserveStart}, #{reserveEnd}, #{personCnt}, #{status}, #{reserveDate}, sysdate)
    </insert>

    <select id="getReservationByTableId" parameterType="reservation">
        SELECT *
        FROM reservation
        WHERE reserveDate = #{reserveDate} AND tableId = #{tableId}
    </select>

    <select id="getReservaionByCafeId" parameterType="reservation">
        SELECT *
        FROM reservation
        WHERE reserveDate = #{date} AND cafeId = #{cafeId}
        ORDER BY USERID, TABLEID, RESERVESTART
    </select>
</mapper>
