<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.reservation.reservation.mapper.ReservationMapper">

    <insert id="createReservation" parameterType="reservation">
        INSERT INTO reservation (tableId, cafeId, userId, reserveStart, reserveEnd, personCnt, status, reserveDate, createDate)
        VALUES (#{tableId}, #{cafeId}, #{userId}, #{reserveStart}, #{reserveEnd}, #{personCnt}, #{status}, #{reserveDate}, sysdate)
    </insert>

    <select id="getOneTableRev" resultType="reservation">
        SELECT *
        FROM reservation
        WHERE reserveDate = #{reserveDate} AND tableId = #{tableId} AND STATUS IN ('A','p','F')
    </select>

    <select id="getOneCafeOneDayRev" resultType="reservation">
        SELECT *
        FROM reservation
        WHERE reserveDate = #{date} AND cafeId = #{cafeId} AND STATUS IN ('A','P','F')
        ORDER BY USERID, TABLEID, RESERVESTART
    </select>

    <select id="getOneCafeBeforeRev" resultType="reservation">
        SELECT *
        FROM reservation
        WHERE cafeId = #{cafeId} AND STATUS = 'A'
    </select>

    <select id="getOneCafeIngRev" resultType="reservation">
        SELECT *
        FROM reservation
        WHERE cafeId = #{cafeId} AND STATUS = 'P'
    </select>

    <update id="cofirmReservation" parameterType="int">
        UPDATE reservation
        SET STATUS = 'P'
        WHERE reservationId = #{reservationId}
    </update>

    <select id="getRevByRevId" parameterType="reservation">
        SELECT *
        FROM reservation
        WHERE reservationId = #{reservationId}
    </select>

    <select id="getFinReservations" resultType="reservation">
        select *
        from reservation
        where userId =  #{userId} and status in ('N','F')
        order by createDate DESC
    </select>

    <select id="getProceedReservations" resultType="reservation">
        select *
        from reservation
        where userId =  #{userId} and status in ('A','P')
        order by createDate DESC
    </select>
    
</mapper>
