<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.search.mapper.SearchMapper">

    <select id="search" resultType="cafe">
            SELECT distinct
                c.cafeId,
                c.cafeName,
                c.cafeType,
                c.startTime,
                c.endTime,
                c.address,
                c.longtitude,
                c.latitude,
                c.cafeTel,
                c.study
            FROM cafe c
                LEFT JOIN (
                    SELECT CAFEID, FEATUREID
                    from CAFEFEATURE
                    group by CAFEID, FEATUREID
                ) cf
                ON c.cafeId = cf.cafeId
                LEFT JOIN (
                    SELECT FEATUREID, FEATURENAME
                    from FEATURE
                    group by featureName,featureId
                ) f
                ON cf.FEATUREID = f.FEATUREID
            WHERE
                c.study = #{studyEnable}
                <choose>
                    <when test="cafeType != ''">
                        AND c.cafeType = #{cafeType}

                    </when>
                    <otherwise>
                        AND c.cafeType IN ('G','P')
                    </otherwise>
                </choose>
                <if test="preferSeat != ''" >
                    AND EXISTS (
                            SELECT
                            1
                            FROM cafeTable ct
                            WHERE
                                ct.cafeId = c.cafeId
                                AND ct.tableType = #{preferSeat}
                        )
                </if>
                <if test="startTime != '' &amp;&amp; endTime != ''">
                    AND TO_DATE(c.startTime, 'HH24:MI') &lt;= TO_DATE(#{startTime}, 'HH24:MI')
                    AND TO_DATE(c.endTime, 'HH24:MI') &gt;= TO_DATE(#{endTime}, 'HH24:MI')
                </if>
                <if test= "proceed.equals('Y')">
                  AND SYSDATE &gt;= TO_DATE(c.startTime, 'HH24:MI')
                  AND SYSDATE &lt;= TO_DATE(c.endTime, 'HH24:MI')
                </if>
                <if test=" features != null and features.size > 0 ">
                    AND f.featureName IN
                    <foreach collection="features" item="feature" open="(" separator="," close=")">
                        #{feature}
                    </foreach>
                </if>
                <if test="word != ''">
                    AND c.CAFENAME LIKE '%'||#{word}||'%'
                </if>

    </select>

    <select id="searchWord" parameterType="String" resultType="cafe">
        select *
        from CAFE
        where CAFENAME LIKE '%'||#{word}||'%'
    </select>
    
    <select id="searchByMyLocation" parameterType="Double" resultType="cafe">
        <![CDATA[
            SELECT *
            FROM (
                SELECT cafe.*,
                (6371 * ACOS(COS(#{latitude}/57.29577951)
                * COS(LATITUDE/57.29577951)
                * COS(LONGTITUDE/57.29577951 - #{longtitude}/57.29577951)
                + SIN(#{latitude}/57.29577951) * SIN(LATITUDE/57.29577951))) AS distance
                FROM cafe
            )
            WHERE ROWNUM <= 5
            ORDER BY distance
        ]]>
    </select>

</mapper>